.purple-section {
  background-color: var(--dark-purple);
  padding: 2em 0;
  color: var(--light-yellow);
}

.light-yellow-section {
  background-color: var(--light-yellow);
  padding: 2em 0;
  color: var(--dark-purple);
}

.box {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  img {
    width: 50px;
  }
}
