.img-cabelo {
  max-width: 30em;
}

.hero{
  // background: url('https://img.freepik.com/fotos-gratis/retrato-da-beleza-do-misterio-sorridente-mulher-ruiva-com-cabelos-longos-posando-para-o-lado-e-olhando_171337-920.jpg?w=900&t=st=1711750134~exp=1711750734~hmac=dff88170b76e91947123f9e382af14fe42b603030fa1904340cb5c07366a219b');
  // background: url('https://img.freepik.com/fotos-gratis/retrato-de-uma-linda-mulher-adulta-com-longos-cabelos-vermelhos_186202-8325.jpg?w=740&t=st=1711751452~exp=1711752052~hmac=1d950a9e3b854a0f428523ba99689f2f39f034f8834bb1141b09ecab68dadca0');
  // background: url('https://img.freepik.com/fotos-gratis/incrivel-jovem-posando-sobre-parede-cinza_171337-20086.jpg?w=900&t=st=1711750801~exp=1711751401~hmac=67a79e4cdc79a4f7ab5c6b21c0147fd25c94b48e767883085f2315414b8d41df');
  background-color: #2A2927;
  background-repeat: no-repeat;
  // background-size: cover;
  height: 470px;
  border-bottom: 7px solid var(--dark-pink);
  h1 {
    text-align: center;
    color: var(--dark-pink);
  }
}

