<header class="d-flex justify-content-center align-items-center hero">
  <div>
    <h1>Salão de Beleza
      <br>
      <strong>Luna Fashion</strong>
    </h1>
  </div>
  <div class="d-flex">
    <img
      src="https://img.freepik.com/fotos-gratis/incrivel-jovem-posando-sobre-parede-cinza_171337-20086.jpg?w=900&t=st=1711750801~exp=1711751401~hmac=67a79e4cdc79a4f7ab5c6b21c0147fd25c94b48e767883085f2315414b8d41df"
      alt="" style="height: 470px">
    <!-- <img src="https://img.freepik.com/fotos-gratis/retrato-de-uma-linda-mulher-adulta-com-longos-cabelos-vermelhos_186202-8325.jpg?w=740&t=st=1711751452~exp=1711752052~hmac=1d950a9e3b854a0f428523ba99689f2f39f034f8834bb1141b09ecab68dadca0" alt="" style="height: 470px"> -->
  </div>
</header>
