<mat-card class="example-card">
  <img mat-card-image
    src="https://img.freepik.com/fotos-gratis/retrato-da-beleza-do-misterio-sorridente-mulher-ruiva-com-cabelos-longos-posando-para-o-lado-e-olhando_171337-920.jpg?w=900&t=st=1711750134~exp=1711750734~hmac=dff88170b76e91947123f9e382af14fe42b603030fa1904340cb5c07366a219b"
    alt="Photo of a Shiba Inu">
  <mat-card-content class="py-4">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>