<footer id="contato" class="footer">
  <div class="text-center d-md-flex gap-5 px-5 pt-5 justify-content-center">
    <section class="mb-sm-3">
      <img src="../../../assets/img/logo-luna-fashion.png" alt="Logo do salão Luna Fashion"
        style="width: 120px; align-self: center;">
    </section>
    <section class="mb-sm-5">
      <p>Rua Henrique Muzzio, 294
      </p>
      <p>
        Jardim Varginha - São Paulo
      </p>
      <p>
        CEP: 04857-040
      </p>
    </section>

    <section class="mb-sm-5">
      <p>Atendimento com horário marcado.
      </p>
      <p>
        De terça a domingo das 08h00 às 20h00</p>
      <p>Celular: (00) 00000-0000</p>
    </section>

    <section>
      <p>
        Nossas Redes
      </p>
      <div class="d-flex justify-content-center">
        <a href="https://www.instagram.com/luna_fashion294" target="_blank">
          <img src=".../../../../../assets/img/instagram_logo.svg.webp" alt="logo do Instagram" style="width: 50px">
        </a>
      </div>
    </section>
  </div>
  <div class="attribution text-left ps-1 mt-3">
    <p>Images from <a href="https://www.freepik.com/" target="_blank"><span>Freepik.</span></a></p>
  </div>
</footer>
