<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
  <nav class="navbar navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo-luna-fashion.png" class="logo-img"><strong>Luna Fashion</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="px-3">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cabeleireira</a></li>
            <li><a class="dropdown-item" href="#">Manicure</a></li>
            <li><a class="dropdown-item" href="#">Pedicure</a></li>
            <li><a class="dropdown-item" href="#">Sobrancelhas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <header>
  <div>
    <img>
  </div>
  <div>
    <h1>Salão de Beleza <strong>Luna Fashion</strong></h1>
  </div>
</header> -->
