/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');

:root {
  --light-pink:#fa6bbc;
  --dark-pink: #ff387e;
  --dark-purple: #954CA6;
  --light-yellow: #faebd7;
  --light-blue: #c2f3ff;
  --dark-blue: #202b47;
  --offset: #d2d2d2;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// body {
//   padding-top: 60px;
// }
